.footer {
  position: sticky;
  /* z-index: -1000; */
  /* position: sticky; */
  height: 20vh;
  width: 100%;
  /* background-color: brown; */
}

.navbar {
  position: fixed;
  /* height: 90px; */
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.3s ease-in;
  overflow: hidden;
  /* background-color: rgba(0, 0, 0, 0.9); */
}

.container {
  position: relative;
  /* top: 20px; */
  /* bottom: 15px; */
  /* position: absolute; */
  height: 100vh;
  width: 100%;
  /* background-color: aquamarine; */
}

.left {
  position: fixed;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  z-index: 100;
  width: 7%;
  height: 100vh;
  /* background-color: blueviolet; */
  /* position: absolute; */
}

.left-icon {
  padding: 10px;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.right {
  z-index: 100;
  top: 0;
  right: 0;
  width: 7%;
  height: 220%;
  /* background-color: pink; */
  position: absolute;
}

.right p {
  padding: 10px;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
}
