.footer {
  margin: 0 auto;
  position: sticky;
  height: 20vh;
  width: 100%;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.3s ease-in;
  overflow: hidden;
}

.container {
  z-index: 0;
  padding-left: 8rem;
  padding-right: 10rem;
  margin-top: 7rem;
  margin-right: 10rem;
  position: relative;
  height: 100vh;
  width: 100%;
}

.left {
  position: fixed;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 10%;
  height: 100vh;
}

.left-icon {
  font-size: 20px;
  margin-top: 40px;
  margin-left: 40%;
}

.right {
  position: fixed;
  top: 0;
  right: 0;
  width: 10%;
  height: 100vh;
}

.right p {
  padding: 10px;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.folder {
  font-size: 2rem;
}

@media screen and (max-width: 1100px) {
  .left {
    display: none;
  }
  .right {
    display: none;
  }
  .container {
    padding-left: 1rem;
    padding-right: 2rem;
    margin-top: 1rem;
    margin-right: 1rem;
  }
  #projects > div.MuiBox-root.css-rixz5a {
    display: "grid";
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .container {
    padding-left: 1rem;
    padding-right: 2rem;
    margin-top: 1rem;
    margin-right: 1rem;
  }
  .projects {
    padding-top: 10rem;
  }
  #about > div > img {
    margin: 0 auto;
  }

  #projects > div.MuiBox-root.css-rixz5a {
    display: "grid";
    grid-template-columns: repeat(2, 1fr);
  }
  #about > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  #about > div > div {
  }
  #about
    > div
    > div
    > div.MuiTypography-root.MuiTypography-p.css-1xwi2og-MuiTypography-root {
    margin: auto;
    padding-left: 2;
    margin: 2;
  }
}

@media screen and (max-width: 600px) {
  .container {
    height: auto;
  }
  #about > div > div > div:nth-child(2) {
    padding: 15px;
    word-spacing: 0;
    font-size: 1rem;
  }
  #about > div > div > div:nth-child(3),
  div:nth-child(4) {
    padding: 15px;
    word-spacing: 0;
    font-size: 1rem;
  }

  #about > div > div > div:nth-child(4) {
    padding: 15px;
    word-spacing: 0;
    font-size: 1rem;
  }

  #about > div > div > div.MuiBox-root.css-tm8k51 {
    /* flex-wrap: nowrap; */
  }

  #projects > div.MuiBox-root.css-rixz5a {
    display: "grid";
    grid-template-columns: repeat(1, 1fr);
  }

  #about > div > img {
    display: none;
    position: absolute;
  }

  .projects {
    height: 200vh;
    padding-top: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .project {
    margin: 0;
    height: 100vh;
  }
  .contact {
    padding-top: 11rem;
    height: 42vh;
    margin-left: 15px;
    margin-right: 30px;
  }

  .footer {
    height: 15vh;
  }
}

@media screen and (max-width: 360px) {
  .contact {
    height: 50vh;
    padding-top: 15rem;
  }
}

/* @media screen and (max-width: 375px) {
  .contact { */
/* padding-top: 10rem; */
/* height: 40vh; */
/* }
} */
